*{
    font-family: "Roboto", sans-serif;
    color: white; 
    padding: 0;
    margin: 0;
    
}

body{
    display: flex;
    background-color: black;
}
/* The left aside */
.leftAside{
    /* background-color: red; */
    width: 24%;
    height: 640px;
    position: fixed;
}

.logoContainer{
    margin-left: 65px;
    margin-top: 10px;
    margin-right: 210px;
    padding: 10px;
    transition: background-color 0.2s;
    cursor: pointer; 
    border-radius: 50%;
    text-align: center;
}
.logo{
    width: 30px;
    margin-top: 2px;
    background-color: #0000;
    
}

.logoContainer:hover{
    background-color: rgba(82, 82, 82, 0.753);
}
.icon{
    width: 30px;
    padding-right: 10px;
    background-color: #0000;
}
.menu{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.menuElement{
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 67px;
    border-radius: 50px;
    padding: 10px 15px;
    width: fit-content;
    transition: background-color 0.2s;
}
.menuElement p{
    font-size: large;
    font-weight: 600;
    background-color: #0000;
    transition: background-color 0.2s;
}
.menuElement:hover {
    background-color: rgba(82, 82, 82, 0.418);
}
.postButton{
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    width: 70%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 75px;
    border-radius: 30px;
    border: none;
    background-color: #FFFF;
    color: black;
}
.account {
    position: absolute;
    bottom: 15px;
    left: 45px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: fit-content;
    height: 45px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.2s;
    
}
.account:hover{
    background-color: rgba(82, 82, 82, 0.418);
}
.account .photo{
    
    margin-bottom: 20px;
    margin-top: 25px;
    margin-right: 10px;
    background-color: transparent;
}
.photo img{
    width: 50px;
    border-radius: 50%;
}
.accountInformation{
    background-color: transparent;
}
.account .accountInformation .username{
    font-weight: bold;
    background-color: transparent;
    
}
.account .accountInformation .tag{
    color: #6B737B;
    background-color: transparent;
}
.accountInformation{
    margin-right: 100px
    
}
.moreOptions {
    margin-right: 5px;
    background-color: transparent;    
}
.moreOptions img{
    background-color: transparent;
    width: 25px;
}

.underAside{
    width: 25.5%;
}
/* The popup menu */
.subMenu{
    position: fixed;
    bottom: 11rem;
    left: 4rem;
    height: 440px;
    width: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0.5px rgba(255, 255, 255, 0.7);
    background-color: black;
}
.subMenuElement{
    display: flex; 
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.subMenuElement:hover{
    background-color: rgba(82, 82, 82, 0.418);
}
.subMenuElement img{
    margin-right: 20px;
    width: 25px;
    background-color: transparent;
}
.subMenuElement p{
    font-size: x-large;
    font-weight: 500;
    background-color: transparent;
}

.hidden{
    display: none;
}




.mainSection{
    margin-left: -10px;
    width: 43.5%;
    height: 500px;
}
.feed_heading{
    display: flex;
}
.feed_heading img{
    border-radius: 50%;
    height: 20px;
}

/*Following*/

/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
} */

.feed-container {
  width: 600px;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  min-height: 100vh;
}


.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #2f3336;
}

.tabs span {
  flex: 1;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #888;
}

.tabs span:hover {
  background-color: #111;
}

.tabs .active {
  color: #fff;
  border-bottom: 3px solid #1d9bf0;
}


.tweet-box {
  display: flex;
  border-bottom: 1px solid #2f3336;
  padding: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-area {
  flex: 1;
}

textarea {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  resize: none;
  outline: none;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.icons {
  color: #1d9bf0;
  font-size: 18px;
   
}
.icons:hover{
 cursor: pointer;
}
.post-btn {
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  font-weight: bold;
  cursor: pointer;
}

.post-btn:hover {
  background-color: #1a8cd8;
}


.post {
  border-bottom: 1px solid #2f3336;
  padding: 15px;
  font-size: 15px;
  line-height: 1.4;
}

.post span {
  color: #777;
  font-weight: normal;
  font-size: 13px;
}

.post span.highlight {
  color: #1d9bf0;
  font-size: 15px;
  cursor: pointer;
}

.image-card {
  background-color: #111;
  border: 1px solid #2f3336;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

img {

width: 520px;
}


.tweet-engagement {
    display: flex;
    justify-content: space-between; 
    padding-top: 10px;
    width: 130%;
}

.engagement-item {
    display: flex;
    align-items: center;
    color: #657786;
    font-size: 14px;  
}

.engagement-item i {
  margin-right: 6px;
}

#icon{
width:40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;
}

.post_heading {
  display: flex;
  align-items: center;
}

.post_heading b{
  margin-right: 8px;
  font-size: 17px;
  font-weight: 700;
}

.post_heading b,
.post_heading span {
  position: relative;
  top: -6px;
}

.post p {
  margin-left: 50px;
  margin-top: -6px;
  font-size: 15px;
}

.post_heading span {
  font-size: 15px;
  position: relative;
}

.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.chatbot-icon img {
    width: 90%;
    height: 90%;
    border-radius: 40%;
    box-shadow: 0 0 10px silver;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 100px;
    right: 20px;
    width: 350px;
    height: auto;
    background-color: none;
}

.modal-content {
    background-color: #1a1a1a;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fast-logo {
    font-size: 15px;
    font-weight: bold;
}

.search-bar {
    background-color: #333;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
}

h2 {
  margin-bottom: 8px;
  margin-left: 5px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
    font-size: large;
}

.search-bar input:focus {
    visibility: hidden;
}


.search-bar i {
    position: absolute;
    bottom: 14px;
    font-size: 15px;
    cursor: pointer
}

.search-bar .fa-paperclip {
    left: 30px;
}

.search-bar .fa-arrow-up {
    right: 20px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    padding: 8px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 20px;

}

button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.latest-news {
    width: 40%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
/***Side part***/
/**body {
  background-color: #000;
  color: #e7e9ea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
}**/

.sidebar2 {
  margin-left: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-box input {
  width: 94%;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid  #2f3336;
  outline: none;
  background-color: black;
  color: white;
  font-size: 16px;
}

.container {
  border: 1px solid  #2f3336;
  background-color: black;
  border-radius: 16px;
  padding: 15px;
}

.container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.trending li,
.news li,
.follow li {
  list-style: none;
  border-bottom: 1px solid #2f3336;
  padding: 10px 0;
}

.trending li:last-child,
.news li:last-child,
.follow li:last-child {
  border-bottom: none;
}

.category {
  color: #71767b;
  font-size: 13px;
}

.topic {
  font-weight: bold;
  font-size: 15px;
  color: #e7e9ea;
}

.posts {
  color: #71767b;
  font-size: 13px;
}

.show-more {
  display: block;
  color: #1d9bf0;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
}

.headline {
  font-weight: bold;
  font-size: 15px;
}

.time {
  color: #71767b;
  font-size: 13px;
}

.follow li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.follow img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.follow .name {
  font-weight: bold;
  margin-left: -120px;
}

.follow .handle {
  color: #71767b;
  font-size: 13px;
  margin-left: -120px;
}

button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #1d9bf0;
  color: #fff;
}