*{
    font-family: "Roboto", sans-serif;
    color: white; 
    padding: 0;
    margin: 0;
    background-color: black;
}

body{
    display: flex;
}
/* The left aside */
.leftAside{
    /* background-color: red; */
    width: 24%;
    height: 640px;
    position: fixed;
}

.logo{
    width: 25px;
    margin-left: 70px;
    margin-top: 20px;
}
.icon{
    padding-right: 10px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 20px;
}
.menuElement{
    font-size: small;
    font-weight: 1000;
    display: flex;
    align-content: center;
    margin-left: 67px;
}
.postButton{
    font-size: medium;
    font-weight: 500;
    width: 70%;
    height: 50px;
    padding: 10px;
    margin-left: 50px;
    border-radius: 30px;
    border: none;
    background-color: #FFFF;
    color: black;
}
.account {
    position: absolute;
    bottom: 0;
    right: 17px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);

    
}
.account .profile{
    width: 50px;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: grey;
}
.account .accountInformation .username{
    font-weight: bold;
}
.account .accountInformation .at{
    color: #6B737B;
}
.accountInformation{
    margin-right: 100px
}
.account .moreOptions{
    margin-right: 5px;
}

.underAside{
    width: 25.5%;
}
.mainSection{
    background-color: blue;
    width: 43.5%;
    height: 500px;
}
