*{
    font-family: "Roboto", sans-serif;
    color: white; 
    padding: 0;
    margin: 0;
    background-color: black;
}

body{
    display: flex;
}
/* The left aside */
.leftAside{
    /* background-color: red; */
    width: 24%;
    height: 640px;
    position: fixed;
}

.logo{
    width: 30px;
    margin-left: 65px;
    margin-top: 10px;
    padding: 10px;
    
}
.logo:hover{
    background-color: rgba(82, 82, 82, 0.753);
    border-radius: 50px;
}
.icon{
    width: 30px;
    padding-right: 10px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.menuElement{
    
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 67px;
}
.menuElement p{
    font-size: large;
    font-weight: 600;
}
.menuElement:hover {
    background-color: rgba(82, 82, 82, 0.753);
}
.postButton{
    font-size: medium;
    font-weight: 500;
    width: 70%;
    height: 50px;
    padding: 10px;
    margin-left: 50px;
    border-radius: 30px;
    border: none;
    background-color: #FFFF;
    color: black;
}
.account {
    position: absolute;
    bottom: 0;
    right: 17px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);

    
}
.account .profile{
    width: 50px;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: grey;
}
.account .accountInformation .username{
    font-weight: bold;
}
.account .accountInformation .at{
    color: #6B737B;
}
.accountInformation{
    margin-right: 100px
}
.account .moreOptions{
    margin-right: 5px;
}

.underAside{
    width: 25.5%;
}
/* The popup menu */
.subMenu{
    position: fixed;
    bottom: 11rem;
    left: 4rem;
    height: 440px;
    width: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0.5px rgba(255, 255, 255, 0.7)
}
.subMenuElement{
    display: flex; 
    margin-left: 10px; 
    margin-top: 15px; 
}
.subMenuElement img{
    margin-right: 20px;
}
.subMenuElement p{
    font-size: x-large;
    font-weight: 500;
}

.hidden{
    display: none;
}




.mainSection{
    margin-left: 100px;
    width: 43.5%;
    height: 500px;
}
.feed_heading{
    display: flex;
}
.feed_heading img{
    border-radius: 50%;
    height: 20px;
}