*{
    font-family: "Roboto", sans-serif;
    color: white; 
    padding: 0;
    margin: 0;
    
}

body{
    display: flex;
    background-color: black;
}
/* The left aside */
.leftAside{
    /* background-color: red; */
    width: 24%;
    height: 640px;
    position: fixed;
}

.logoContainer{
    margin-left: 65px;
    margin-top: 10px;
    margin-right: 210px;
    padding: 10px;
    transition: background-color 0.2s;
    cursor: pointer; 
    border-radius: 50%;
    text-align: center;
}
.logo{
    width: 30px;
    margin-top: 2px;
    background-color: #0000;
    
}

.logoContainer:hover{
    background-color: rgba(82, 82, 82, 0.753);
}
.icon{
    width: 30px;
    padding-right: 10px;
    background-color: #0000;
}
.menu{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.menuElement{
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 67px;
    border-radius: 50px;
    padding: 10px 15px;
    width: fit-content;
    transition: background-color 0.2s;
}
.menuElement p{
    font-size: large;
    font-weight: 600;
    background-color: #0000;
    transition: background-color 0.2s;
}
.menuElement:hover {
    background-color: rgba(82, 82, 82, 0.418);
}
.postButton{
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    width: 70%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 75px;
    border-radius: 30px;
    border: none;
    background-color: #FFFF;
    color: black;
}
.account {
    position: absolute;
    bottom: 15px;
    left: 45px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: fit-content;
    height: 45px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.2s;
    
}
.account:hover{
    background-color: rgba(82, 82, 82, 0.418);
}
.account .photo{
    
    margin-bottom: 20px;
    margin-top: 25px;
    margin-right: 10px;
    background-color: transparent;
}
.photo img{
    width: 50px;
    border-radius: 50%;
}
.accountInformation{
    background-color: transparent;
}
.account .accountInformation .username{
    font-weight: bold;
    background-color: transparent;
    
}
.account .accountInformation .tag{
    color: #6B737B;
    background-color: transparent;
}
.accountInformation{
    margin-right: 100px
    
}
.moreOptions {
    margin-right: 5px;
    background-color: transparent;    
}
.moreOptions img{
    background-color: transparent;
}

.underAside{
    width: 25.5%;
}
/* The popup menu */
.subMenu{
    position: fixed;
    bottom: 11rem;
    left: 4rem;
    height: 440px;
    width: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0.5px rgba(255, 255, 255, 0.7);
    background-color: black;
}
.subMenuElement{
    display: flex; 
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.subMenuElement:hover{
    background-color: rgba(82, 82, 82, 0.418);
}
.subMenuElement img{
    margin-right: 20px;
    background-color: transparent;
}
.subMenuElement p{
    font-size: x-large;
    font-weight: 500;
    background-color: transparent;
}

.hidden{
    display: none;
}




.mainSection{
    margin-left: 100px;
    width: 43.5%;
    height: 500px;
}
.feed_heading{
    display: flex;
}
.feed_heading img{
    border-radius: 50%;
    height: 20px;
}